@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: #174278;
    color: white;
    z-index: 1;
    position: fixed;
    width: 100%;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    font-family: Poppins;
    width: 100%;
  }
  
  .user-image {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .search-box {
    width: 100px;
    margin-left: 65%; 
    margin-right: 10%;
    position: relative;
    display: flex;
    align-items: right;
  }

  
  .search-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: #888; 

  }

  .search-box input {
    padding-left: 40px; 
    font-family: Poppins;
    font-size: 0.8rem;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
  }

  .user-desc .user-name{
    font-size: 0.9rem;
    font-weight: bold;
  }

  .user-desc .user-title{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7rem;
  }
