.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: #174278;
    color: white;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-image {
    width: 30px; /* Adjust the size of the user image as needed */
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .search-box {
    flex: 1;
    margin-left: 70%; /* Adjust the spacing between user info and search box as needed */
    margin-right: 5%;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 14px;
  }
